/* 
    Document   : style
    Created on : 12-ene-2013, 23:49:29
    Author     : Moisés Aguilar
    Description:
        Purpose of the stylesheet follows.
*/
body { 
        /*padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ 
      } 
      a.menu:after, .dropdown-toggle:after { 
        content: none; 
      } 

    ul.nav li.dropdown:hover { 
      font-weight: bold; 
     

      
}

#recomanacions img{
    
    height: 32px;
    width: 32px;
    
}

#principal{
    
    padding-top: 10%;
    
}

#principal{
    
    background-color: #EEEEEE;
    
}

.list{
    
    background-color: #d6d6d6;
    
}

footer{
    
    text-align: center;
    
}
  ul.nav li.dropdown:hover ul.dropdown-menu.submenu{ 
    display: block; 
    margin-left: 220px; 
     
    margin-top: -36px; 
                 
                background-color:#FFF; 
                font-weight: normal; 
                 
}
#div_form_cerca input[type='text']{
    
    height: 30px;
    width: 60%;
    font-size: 22px;
    margin-bottom: 30px; 
    margin-top: 20px;
    
    
}
#div_localitat{
    
    margin-top: -50px;
    text-align: center;
    
}
#cerca_google_maps{
    
    margin-top: 30px;
    text-align: center;
    
}
#cerca_google_maps input[type='text']{
    
    height: 30px;
    width: 60%;
    font-size: 18px;
    
}
#infoPanel{
    
    text-align: center;
    
}
#info_cerca{
    
    text-align: center;
    
}
#div_form_cerca{
    
    padding-top: 20px;
    text-align: center;
    
}
#boto_localitzar{
    
    margin-left: 0px;
    
}

#img_weather{
    
 height: 30px;
    
}
#div_yui_api_google{
    
    
    text-align: center;
    
}
#div_yui_api_google input[type='text']{
    
    height: 30px;
    width: 60%;
    font-size: 18px;
    margin-bottom: 30px; 
    margin-top: 20px; 
    
}
#div_form_cerca table{
    
    margin: 0 auto;
    
}
#mapCanvas{
    
    height: 400px;
    width: 100%;
    
}
#map_canvas_cerca{
    
    margin-top: 20px;
    height: 350px;
    width: 100%;
    
}
#menu{
    
    color: white;
    
}

#menu input[type='text']{
    
    height: 17px;
    width: 100px;
    font-size: 14px;
    margin-right: 10px;
    
}
#menu input[type='password']{
    
    height: 17px;
    width: 100px;
    font-size: 14px;
    
    
}
#menu input[type='button']{
    width: 113px;
}
#menu button{
    width: 113px;
}
#menu a{
    
    text-decoration: none;
    
    padding-right: 25px;
    padding-bottom: 0px;
    
}

#menu form{
    
    margin-top: -5px;
    margin-left: 0px;
    width: 238px;
    
}
#btn_registre{
    
    float: right;
    margin-top: -23px;
    
}
#div_msg_sessio{
    
    width: 300px;
    font-size: 10px;
    float: right;
    margin-top: 30px;
    
    
}
#div_imatge_previsio{
    
    float: right;
    width: 50%;
    margin-top: 25px;
    height: 100%;
    
    
    
}
#div_imatge_previsio img{
    
    height: 150px;
    width: 150px;
    border-radius: 25px;
    box-shadow: 5px 5px 50px grey;
}
#div_info_previsio{
    
    float: left;
    width: 50%;
    text-align: left;
}
#div_previsio{
    
    text-align: center;
    width: 100%;
    height: 500px;
    
}
#div_previsio_2{
    
    text-align: center;
    width: 100%;
    height: 250px;
    
}
#previsio_meteo{
    
    text-align: center;
    
}
/* Compatibilitzar bootstrap amb google maps */
#map_canvas_cerca img { 
  max-width: none;
}

#map_canvas_cerca label { 
  width: auto; display:inline; 
} 
#div_mapa_local img { 
  max-width: none;
}

#div_mapa_local label { 
  width: auto; display:inline; 
} 
/* Compatibilitzar bootstrap amb google maps */
#recomanar{
    
    
}
#recomanar img{
    
    width: 50px;
    height: 50px;
    
}
.center{
    
    text-align: center;
    
}

#div_tipus_viatge select{
    
    width: 60%;
    
}
#directions_panel{
    
    width: 100%;
    
}
#map_canvas{
            
    width: 100%;
    height: 350px;
            
}
#chart_div{
    
    width: 100%;
    height: 350px;
            
}
#div_loading span{
    
    width: 80%
    
}
/*PROGRESS BAR*/
.progress-bar {
                background-color: #1a1a1a;
                height: 25px;
                padding: 5px;
                width: 350px;
                margin: 50px 0;			
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
                -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
                box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	          
            }

            .progress-bar span {
                display: inline-block;
                height: 100%;	
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
                -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
                box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
                -webkit-animation: animate-glow 1s ease-in-out infinite;
                
            }
            
            /*Colors de les progress bar*/
            
            .blue span {
                background-color: #34c2e3;
                   
            }
            
            .stripes span {
                -webkit-background-size: 30px 30px;
                -moz-background-size: 30px 30px;
                background-size: 30px 30px;			
                background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
		color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
		color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
		to(transparent));
	
                background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
		transparent 75%, transparent);
                background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
		transparent 75%, transparent);
                background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
		transparent 75%, transparent);
                background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
		transparent 75%, transparent);
                background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
		transparent 75%, transparent);            
	
                -webkit-animation: animate-stripes 3s linear infinite;
                -moz-animation: animate-stripes 3s linear infinite;       		
            }

            @-webkit-keyframes animate-stripes { 
                    0% {
                        background-position: 0 0;
                        width: 0%;

                    } 
                    100% {
                        background-position: 60px 0;
                        width: 100%;
                    }
            }

            @-moz-keyframes animate-stripes {
                    0% {
                        background-position: 0 0;
                        width: 0%;

                    } 
                    100% {
                        background-position: 60px 0;
                        width: 100%;
                    }
            }
/*PROGRESS BAR*/
      